@import 'https://fonts.googleapis.com/css?family=Open+Sans';

body {
  font-family: 'Open Sans';
}

.column {
  color:white;
}

.repo {
  width: 300px;
  margin: 10px;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
}

.stars {
  background: url(star.png), rgb(200,50,50);
  background-repeat: no-repeat;
  margin: 0px 30%;
  padding: 10px;
}

.forks {
  background: url(fork.png), rgb(100,200,100);
  background-repeat: no-repeat;
  margin: 0px 30%;
  padding: 10px;
}

.watchers {
  background: url(watch.png), rgb(100,100,200);
  background-repeat: no-repeat;
  margin: 0px 30%;
  padding: 10px;
}